# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# unused files
app/absurd-logo.tsx
app/pixel-logo.tsx
app/designer-logo.tsx
app/smooth-logo.tsx
app/dvd-logo.tsx
app/absurd-logo.module.css
app/pixel-logo.module.css
app/designer-logo.module.css
app/smooth-logo.module.css
app/dvd-logo.module.css
public/vercel.svg
public/globe.svg
public/file.svg

# IDE
.idea
.vscode
